// MasterLayout
.ant-layout {
  background: none;
}

.cursor-pointer {
  cursor: pointer;
}

// Header
.ant-layout-header {
  padding: 0;
  background: none;
  height: 130px;
  z-index: 2;
}

.header-title-container-full {
  background-color: #08142b;
  opacity: 0.75;
  height: 50px;
}

.header-menu-container-full {
  opacity: 0.75;
  height: 80px;
  background-color: #fff;
}

.header-container {
  width: 1270px;
  margin: auto;
  .header-title {
    width: 100%;
    display: flex;
    justify-content: space-between;
    height: 50px;
    .title-left {
      display: flex;
      align-items: center;
    }
    .title-right {
      display: flex;
      align-items: center;
    }
    .title-text {
      display: flex;
      font-size: 14px;
      font-weight: 500;
      padding-left: 5px;
      align-items: center;
      color: #fff;
    }
    .color-icon-title {
      color: rgb(12, 172, 238);
    }
  }
  .header-menu {
    width: 100%;
    display: flex;
    justify-content: space-between;
    height: 80px;
    .header-logo {
      display: flex;
      align-items: center;
    }
    .header-content-menu {
      display: flex;
      align-items: center;
      .item-menu {
        font-size: 18px;
        color: #000;
        font-weight: 500;
        &:hover, &:active {
          color: rgb(12, 172, 238);
        }
      }
    }
  }
}

.color-active {
  color: rgb(12, 172, 238) !important;
}


// Content




// Footer
.title-footer {
  text-transform: uppercase;
}
.item-lien-he {
  margin-top: 10px;
  font-size: 15px;
  .text-lien-he {
    margin-left: 10px;
  }
}
.pd-10 {
  padding: 10px;
}
.hot-line {
  font-size: 17px;
  color: #ed3237;
  font-weight: 600;
}
.wrap-dang-ky {
  margin-top: 15px;
  .wrap-form {
    display: flex;
    .input-khuyen-mai {
      width: calc(100% - 65px);
      border: 1px solid #ccc;
      padding: 7px 10px;
      &:focus {
        outline: 0;
      }
    }
    .btn-send {
      background: #000;
      color: #fff;
      padding: 4px 20px;
      font-size: 14px;
      cursor: pointer;
      border: 1px solid #000;
    }
  }
}
.wrap-mangxh {
  margin-top: 20px;
  display: flex;
  .icon-mangxh {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    padding: 9px;
    background: #ccc;
    height: 40px;
    width: 40px;
    margin-right: 10px;
    cursor: pointer;
    &:first-child {
      background-color: #3b5998;
    }
    &:nth-child(2) {
      background-color: #24a8e0;
    }
    &:nth-child(3) {
      background-color: #ce3633;
    }
    &:nth-child(4) {
      background-color: #cc3300;
    }
    .icon {
      color: #fff;
    }
  }
}


/* CSS Document */


.wrap-nav {
  .list-menu {
    padding: 0;
    margin: 0;
    list-style: none;
    position: relative;
    li {
      display:inline-block;
      &:hover {
        .wrap-nav-child {
          display:inherit;
        }
      }
    }
    .wrap-nav-child {
      display: none;
      position: absolute; 
      top: 60px;
      background: #f0f2f5;
      min-width: 170px;
      padding: 0;
      border: 1px solid #ededed;
      .item-child {
        display: block;
        line-height: 1.4;
        padding: 10px;
        border-bottom: 1px dotted #ccc;
        font-weight: normal;
        a {
          color: #000;
          font-size: 14px;
        }
        &:hover {
          background: seagreen;
          a {
            color: #fff;
          }
        }
      }
    }
  }
  .item-menu {
    display:block;
    color:#000;
    font-size:20px;
    line-height: 60px;
    text-decoration:none;
    padding: 10px;
  } 
}
